.root {
  max-width: 400px;
  width: 100%;
  background: var(--bg);
  transition: flex-grow 0.3s;
  img {
    height: 234px;
    object-fit: cover;
    display: flex;
    justify-content: center;
    max-width: 400px;
    width: 100%;
  }
  hr {
    height: 4px;
    background-color: var(--horizontalLine);
    border: 1px solid var(--horizontalLine);
  }
  .title {
    font-size: 1.25rem;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    color: var(--white);
  }
  .textBg {
    background: var(--black);
    padding: 15px 0;
    display: flex;
    justify-content: center;
  }
  &:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transform: scale(1.05);
  }
}
