@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  --bg: #2B2C2D;
  --white: #fff; 
  --black: #1a201d;
  --horizontalLine: #F1811A;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  background: var(--black);
}
